<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DasBackupTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DasBackupTool.Properties.Settings>
            <setting name="FileStatusFilterNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileStatusFilterUpdated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileStatusFilterDeleted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileStatusFilterNotModified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludedFilesRegularExpression" serializeAs="String">
                <value>.*\\desktop.ini|.*\\Thumbs.db</value>
            </setting>
            <setting name="FileStatusFilterExcluded" serializeAs="String">
                <value>False</value>
            </setting>
        </DasBackupTool.Properties.Settings>
    </userSettings>
</configuration>